---
const article = Astro.props;
---

<div class="flex flex-col justify-center items-center rounded-lg border bg-card text-card-foreground shadow-sm">
    <div class="text-center hover:shadow-xl transition-shadow duration-300 ">
        <img src="/public/assets/images/nefrologia.jpg" alt="card test">
        <h2 class="text-2xl font-bold">{article.title}</h2>
        <p>{article.description}</p>
    </div>

</div>