---
import { ClientRouter } from "astro:transitions"
import '../styles/global.css'
import Header from "../components/shared/Header.astro"

---

<!DOCTYPE html class="scroll-smooth">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circulo Ginecologico</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;700&display=swap" rel="stylesheet" />
</head>
<body class="font-body antialiased">
    <div class="flex items-center flex-col min-h-screen">
        <Header />
        <slot class="flex-grow"/>
    </div>
</body>
</html>